div{
   font-size: 30px;
  
}
p{
   background-color: honeydew; /*Фон для абзаца*/
}
#intro{
   color: rgb(0, 5, 2);
}
.first{
   text-align: center;
   font-size: 200%;
   font-weight: bold; /*Толщина шрифта*/
}
#intro .first em {
   text-align: center;/*Текст по центру*/
   color: pink; 
   background-color:gray;
}
.one{
   text-align: center;
   font-size: 300%; /*Размер шрифта*/
   color: #000;
   background-color: rgb(189, 24, 24);
   font-variant: small-caps;    /*Все заглавные буквы*/
}
.two{
   text-align: right; /*Текст справа*/
   color: rgb(83, 68, 68);
   background-color: blanchedalmond;
   font-family: 'Courier New';   /*Название шрифта*/
   font-style: italic; /*Курсив*/
}
.taba{
   background-color: beige;
}
td.top {
   vertical-align: top; /*Выравнивание по горизонтали: верх, низ, центр*/
}
td.middle {
   vertical-align: middle;
}
td.bottom {
   vertical-align: bottom;
}
span.baseline {
   vertical-align: baseline;  /*Разные виды выравнивания текста*/
   font-size: 300%; 
}
span.sub {
   vertical-align: sub;
   font-size: 300%;
}
span.super {
   vertical-align: super;
   font-size: 300%;
}
span.pixel {
   vertical-align: -10px;
   font-size: 300%;
}
.main {
   height: 150px; width: 400px;
   background-color: LightSkyBlue;
   display: inline-table;  
}
.paragraph {
   display: table-cell;
   vertical-align: middle;  /* Для div  так надо выравнивать*/
}
p.none {
   text-decoration: none; /* Подчёркивание, зачёркивание и т.д*/
}
p.inherit {
   text-decoration: inherit;
}
p.overline {
   text-decoration: overline; 
}
p.underline {
   text-decoration: underline;
}
p.line-through {
   text-decoration: line-through;
}
.bobo{
   text-indent: 100px;
}
.zoro{
   color: blue;
    font-size: 30pt;
    text-shadow: 5px 2px 4px rgb(218, 23, 23);  /*Тень*/
    
}
.glina{
   font-size: 50px;
   text-transform: capitalize; /*Каждое слово начинается с заглавной буквы*/
}
.gliba{
   text-transform: uppercase; /*Все заглавные*/
   font-size: 50px;
}
.gli{
   text-transform: lowercase;  /*Все строчные буквы*/
}
.letter{
   font-size: 50px;
   letter-spacing: 50px; /*Расстояние между символами*/
}
.word{
   font-size: 50px;
   word-spacing: 30px; /*Интервал между словами*/
}
.space{
   font-size: 50px;
   white-space: nowrap;  /*Без переносов текст пока не поставить тег br*/
}
.pre{
   font-size: 50px;
   white-space: pre-wrap;
   margin-top: 10px;
}
.pru{
   padding: 10px;
   border: 5px solid green; /*Рамка*/
   text-align: center;
}
.pro{
   padding: 50px;        /*Высота рамки*/
    border-style: outset;  /*Стиль рамки*/
    border-width: 10px;  /*толщина линии рамки*/
    border: 5px solid green;    
    width: 90px;           /*ширина элемента*/
    height: 90px;        /*Высота элемента внутри div*/
}
.pr{ 
   font-size: 50px;  
    width: 30%;     /*ширина элемента*/
    height: 200px;   /*Высота элемента внутри div*/
}
.privet{
   padding: 30px;
    background-image: url("http://www.sololearn.com/images/tree.jpg");
    color: rgb(12, 11, 11);
    background-repeat:no-repeat; /*фон не повторяется*/ 
    font-weight: bold;
    font-size: 30px;
}
.glo{
   background-image: url(tree.jpg); /*фон картинка*/
   background-attachment: fixed;  /*фон без прокрутки*/
}
ol.lower-alpha {
   list-style-type: lower-alpha; /*списки*/
}
ul.circle {
   list-style-type: circle;
}
ul.square {
   list-style-type: square;
}
.ha {
   list-style-image: url("http://www.sololearn.com/images/bullet.jpg");
   list-style-position: inside;
}
table {
   border-collapse: separate;  /*таблицы*/
   border-spacing: 20px 40px;
   background-color: white;
   margin-left: 50%;
}
caption {
   caption-side: bottom; /*заголовок таблицы: низ, верх*/
}
table.auto {
   table-layout: auto;
   border: 1px solid gray;
   border-collapse: separate;
   width: 100%;
   border: 1px solid gray;
}
a:hover {                      /*Ссылки*/
   color: rgb(187, 255, 0);  /*Изменение цвета при наведени*/
   font-size: 50px;
}
.cur{
   background-image: url(2.png); /*виды изменений курсора при наведении*/
   height: 500px;
   width: 50%;
}
.span{
   display: block;   /*элемент на новой строку*/
}
.lips{
   display: none;    /*элемент не отображается*/
}
.lups{
   position: fixed;  /*фиксация элемента. остаётся в экране при прокрутке*/
    top: 30px;
    right: 50%;
    color: red;
}
   img {
      float: left;       /*фиксация элемента с какой нибудь стороны*/
      width: 120px;
      margin-right: 10px;
  }
  .lwps {
      width: 1000px;
  } 
  .lrps{
   width: 150px;
   height: 150px;
   background-color: LightBlue; /*выход за границы коробки*/
  }
  .lrus{
   width: 500px;
   height: 150px;
   background-color: LightBlue;  /*прокрутка выхода за границы*/
   float: left;
   overflow: scroll;
  }
  .blue {
   z-index: 3;
   margin-top: 200px;
   position: relative;
   background-color: #8EC4D0;
   margin-bottom: 15px;
   width: 120px;
   height: 120px;
   color: #FFF;
}                     /*наложение элементов  z-index*/
.red {
   z-index: 2;
   position: relative;
   background-color: #FF4D4D;
   width: 120px;
   height: 120px;
   color: #FFF;
   margin-top: -50px;
   margin-left: 50px;
}
.yo{
   background-image: url(3.png); /*префиксы браузеров*/
   height: 200px;
   width: 50%;
}
.tr{
   border-radius: 20px;
    background-color: green; /*закругление углов элемента*/
    color: white;
    padding: 50px;
    width: 50%;
    margin-top: 40px;
}
.ti{
   width: 200px;
   height: 200px;
   border-radius: 100px;
   background-color: rgb(128, 47, 0);   /*круг*/
   color: white;
   text-align: center;
   color: #000;
   font-weight: bolder;
   margin-top: 100px;
}
.ki{
   margin-top: 100px;
   text-shadow: -2px 2px blue; /*тень*/
}
.bi{ 
   margin-top: 50px;     /*тень*/
   text-shadow: 5px 10px 2px #93968f, -3px 6px 5px #58d1e3;
}
#parent p:first-child {
   color: green;           /*псевдоклассы*/
   text-decoration: underline;
}
#parent p:last-child {
   color: red;
   text-decoration: underline;   
}